<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950141044596-r751drtl7re40ccq1g91llsd3cdo20at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950141044596-r751drtl7re40ccq1g91llsd3cdo20at</string>
	<key>API_KEY</key>
	<string>AIzaSyAGrkCclRtG_1a_TddeRtNkSAGngisSUrA</string>
	<key>GCM_SENDER_ID</key>
	<string>950141044596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoe-store-f8995</string>
	<key>STORAGE_BUCKET</key>
	<string>shoe-store-f8995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950141044596:ios:d42a2725ad9341fd100e21</string>
</dict>
</plist>